body {
    overflow: hidden; /* Hide scrollbars */
  }
.div{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:italic;
    font-size:larger;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(8, 1, 1, 0.3); 
    backdrop-filter: blur(10px); 
    background-color: rgba(72, 70, 70, 0.3);
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    }
 /* .link{
    color: black;
    outline: none;
 }  */
 .active{
    color: aqua;
 }

.head{
    margin-left: 3rem;
    color: white;
}
.row{
    margin-top: 7rem;
    margin-left: 10.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card{
   
    height: 380px;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 15px 25px rgba(8, 1, 1, 0.4); 
    backdrop-filter: blur(10px); 
    background-color: rgba(72, 70, 70, 0.3);
   
}
.img{
    background-image: url("new.jpg");
    
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 735px; */
    width: 100vw;
    height: 100vh;
}
.center{
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
}
.text{
    margin-top: 2.5rem;
    color: white;
}
.font2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    
  }
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
    color: #b91c1c;
    font-size: large;
    }