.body{
  margin: 0;
  padding: 0;
}

.card{
    
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: center;
    align-items:center;
    margin-top: 8rem;

}
.heading{
    /* background-color: #60a5fa; */
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.new{
  background-color: #a1a1aa;
}
.input{
  background-color: #d1d5db;
}