
.mode1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 50%;
  margin-left: 23rem;
}
.btn {
  display: flex;
  flex-direction: column;
  height: 15vh;
  gap: 2rem;
}
.card {
  background-color: #a1a1aa;
}
/* .input {
  background-color: #d1d5db;
} */
.desc {
  text-align: center;
  margin-top: 2rem;
  line-height: 2rem;
}

.home {
  margin-right: 5rem;
  width: 20%;
  height: 2rem;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  display: flex;
}
.head {
  margin-left: 3rem;
}

.link {
  color: black;
  outline: none;
}

.div2 {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: larger;
  border-radius: 35px;
  box-shadow: 0 15px 25px rgba(8, 1, 1, 0.3);
  backdrop-filter: blur(10px);
  background-color: rgba(72, 70, 70, 0.3);
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.font2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  color: #b91c1c;
  font-size: large;
}
.first {
  background-color: #1e293b;
  height: 730px;
}
.back {
  margin-top: 10rem;
  margin-left: 6rem;
}
.p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 150;
  font-size: large;
  color: white;
}
.font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;
}
.font3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
}
.icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  color: white;
  font-size: large;
}
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  margin-left: 17rem;
  width: 70%;

}
.heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-right: 40rem;
  color: #22c55e;
}
.data{
  border: none;
  text-align: center;
  height: 51vh;
  /* background-color: #1e293b; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  }
.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion:hover {
  background-color: #f0f0f0;
}